{% extends "facematch/base.html" %}
{% load static %}
{% block content %}
    <div style="text-align: center; margin-bottom:70px;">
        <img src="{% static 'facematch/img/m.png' %}" alt="logo" style="width:100px; height:100px;">
        <h1>Snaviatt</h1>
        <h4>The next generation Attendance marking Software.</h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add Student</h3>
                    <p class="card-text">Add Student Data here.</p>
                    <div class="text-center">
                        <a href="{% url 'facematch-student' %}" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Upload Attendance</h3>
                    <p class="card-text">Upload Attendance via Image/Video File.</p>
                    <div class="text-center">
                        <a href="{% url 'facematch-attendance-getdata' %}" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-3">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">View Report</h3>
                  <p class="card-text">View Student Record</p>
                  <div class="text-center">
                      <a href="{% url 'facematch-report' %}" class="btn btn-primary">Go</a>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <footer class="page-footer font-small unique-color pt-4">
      <hr>
      <!-- Footer Links -->
      <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-center mt-3 pb-1">
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-10 col-lg-10 col-xl-10 mx-auto mt-2">
              <h6 class="text-uppercase mb-4 font-weight-bold">Project By</h6>
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="https://imkaka.github.io" target="_blank"><i class="fab fa-github"></i> Anil Khatri</a>
                </li>
                <li class="list-inline-item">
                  <a href="#!" target="_blank"><i class="fab fa-github"></i> Aishwarya Avhinash</a>
                </li>
                <li class="list-inline-item">
                  <a href="#!" target="_blank"><i class="fab fa-github"></i> Gaurav Gupta</a>
                </li>
              <li class="list-inline-item">
                <a href="#!" target="_blank"><i class="fab fa-github"></i> Adarsh Tripathi</a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-7 col-lg-8">

            <!--Copyright-->
            <p class="text-center text-md-right">© 2019 Copyright:
              <a href="https://github.com/snaviatt" target="_blank">
              <strong> Snaviatt Inc.</strong>
              </a>
            </p>

          </div>

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

    </footer>
    <!-- Footer -->
{% endblock content %}
